{% extends 'base.html.twig' %}

{% block title %}Conference guestbook{% endblock %}

{% block body %}

    <h1>Give your feedback !</h1>

    {% for conference in conferences %}
        <div>
            <h2>{{ conference }}</h2>

            <p>
                <a href="{{ path('conference', { slug : conference.slug }) }}">View</a>
            </p>
        </div>
    {% endfor %}

{% endblock %}
