{% extends 'base.html.twig' %}

{% block title %}Conference guestbook{% endblock %}

{% block body %}

    <h2>Give your feedback !</h2>

    {% for conference in conferences %}
        <div>
            <h3>{{ conference }}</h3>

            <p>
                <a href="{{ path('conference', { slug : conference.slug }) }}">View</a>
            </p>
        </div>
    {% endfor %}

{% endblock %}
